* {
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.headContainer {
    display:flex;
    margin-left: 200px;
    width: 800px;
    gap:20%;
}
.container {
    display: flex;
    flex-direction: column;
   
}

.container2 {
    display: flex;
    flex-direction: column-reverse;
}

.gameboard {
border: black 1px solid;
 display: grid;
 grid-template-columns: repeat(10,30px);
 grid-template-rows: repeat(10,30px);
 margin: 30px;

}

.gamecell {
    border: 1px solid black;
    cursor: pointer;
}

.missed {
    cursor: default;
}
.missed::after {

    content: url("./dot-svgrepo-com.svg");
 

}


.hitShip {

    border: 1px solid red;
}

.hitShip::after {

    content: url("./cross-square-svgrepo-com.svg");
    color: red;
    


}

.inactive {

    opacity: 0.3;
    pointer-events: none;
}

.showBorder {


}

.showBorder::after {
    content: url("./dot-svgrepo-com.svg");
    opacity: 0.6;
}

.ship {
    border: 1px solid blue;
    background-color: lightblue;
    
}

.sunk {
    border: 1px solid red;

}

